blockquote {
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--blue);
  width: 70%;
  float: right;
  /* background-color: rgb(74, 66, 230); */
  box-shadow: 5px 5px 15px #000;
  padding: 1em;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: var(--blue);
  font-size: 4em;
  top: .2em;
  position: relative;
}